@charset "utf-8";

body {
    background-color: black;
}

.main_window {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

div.console {
    text-align: left;
    font-size: large;
    color: #d4d7e2;
    font-weight: 800;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9;
}

.main_window .background {
    color: #d4d7e2;
    font-size: large;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
    grid-area: 1 / 1;
}

.main_window .content {
    grid-area: 1 / 1;
}

.main_window .content .content_grid {
    display: grid;
    grid-template-columns: repeat(8 fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header"
    "sidebar_names sidebar_extra content content"
    "footer footer footer footer";
}

.main_window .content .content_grid .sidebar {

    grid-area: "sidebar_names";
}

.main_window .content .content_grid .example {
    color: white;
    grid-area: "footer";
}

.main_window .content .content_grid .sidebar_element {
    color: #d4d7e2;
    padding-top: 0;
    font-size: large;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
    grid-area: 1 / 1;
}

.main_window .background:hover {
    cursor: default;
}

.sidebar_element:hover {
    scale: 1.1;
    color: #ffffff;
    cursor: default;
}