@charset "utf-8";

body {
    background-color: black;
}

.main_window {
    margin-left: calc(50% - 63ch);
    /* margin-right: calc(50% - 43ch); */
    display: grid;
    grid-template-columns: 86ch;
    grid-template-rows: 1fr;
    place-items: left;
    grid-template-areas: "main_window";
}

div.console {
    text-align: left;
    font-size: 16pt;
    color: #d4d7e2;
    font-weight: 800;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9;
}

.main_window .background {
    color: #d4d7e2;
    font-size: 16pt;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
    grid-area: main_window;
}

.main_window .content {
    grid-area: main_window;
    margin-left: 10ch;
    margin-top: 10ch;
}

.main_window .content .sidebar_grid {
    display: grid;
    margin-top: 2ch;
    grid-template-columns: 32ch 32ch 32ch 32ch;
    grid-template-rows: 32ch 32ch;
    grid-template-areas: 
    "sidebar0 sidebar1 sidebar2 sidebar3"
    "sidebar4 sidebar5 sidebar6 sidebar7";
    place-items: center;
}

.main_window .content .sidebar_grid .sidebar_element {
    color: #d4d7e2;
    text-align: center;
    padding-top: 0;
    font-size: 18pt;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
}

.sidebar0 {
    grid-area: sidebar0;
}

.sidebar1 {
    grid-area: sidebar1;
}

.sidebar2 {
    grid-area: sidebar2;
}

.sidebar3 {
    grid-area: sidebar3;
}

.sidebar4  {
    grid-area: sidebar4;
}

.sidebar5  {
    grid-area: sidebar5;
}

.sidebar6  {
    grid-area: sidebar6;
}

.sidebar7  {
    grid-area: sidebar7;
}

.main_window .background:hover {
    cursor: default;
}

.sidebar_element:hover {
    scale: 1.1;
    color: #ffffff;
    cursor: default;
}

.main_window .exe_window {
    grid-area: main_window;
}

.main_window .exe_window .content_grid {
    display: grid;
    margin-top: 40ch;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "content";
    place-items: center;
}

.main_window .exe_window .content_grid .content {
    color: #d4d7e2;
    font-size: 16pt;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
    grid-area: content;
    background-color: transparent;
}