@charset "utf-8";

body {
    background-color: black;
}

.main_window {
    margin-left: calc(50% - 43ch);
    margin-right: calc(50% - 43ch);
    display: grid;
    grid-template-columns: 86ch;
    grid-template-rows: 1fr;
    place-items: left;
    grid-template-areas: "main_window";
}

div.console {
    text-align: left;
    font-size: 14pt;
    color: #d4d7e2;
    font-weight: 800;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9;
}

.main_window .background {
    color: #d4d7e2;
    font-size: large;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
    grid-area: main_window;
}

.main_window .content {
    grid-area: main_window;
}

.main_window .content .content_grid {
    display: grid;
    margin-top: 2ch;
    grid-template-columns: 2ch 10ch 10ch 66ch;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "spacer0 sidebar-name sidebar-extra preview";
}

.main_window .content .content_grid .sidebar {
    grid-area: sidebar-name;
    margin-top: 10ch;
}

.main_window .content .content_grid .sidebar .sidebar_list {
    display: grid;
    grid-template-columns: 16ch;
    grid-template-rows: repeat(8, 4ch);
    grid-template-areas:
        "sidebar0"
        "sidebar1"
        "sidebar2"
        "sidebar3"
        "sidebar4"
        "sidebar5"
        "sidebar6"
        "sidebar7"
        "sidebar8"
        "sidebar9"
        "sidebar10"
        "sidebar11"
        "sidebar12"
        "sidebar13"
        "sidebar14"
        "sidebar15";
}

.main_window .content .content_grid .sidebar .sidebar_list .sidebar_element {
    color: #d4d7e2;
    padding-top: 0;
    font-size: 14pt;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
}

.sidebar0 {
    grid-area: sidebar0;
}

.sidebar1 {
    grid-area: sidebar1;
}

.sidebar2 {
    grid-area: sidebar2;
}

.sidebar3 {
    grid-area: sidebar3;
}

.sidebar4  {
    grid-area: sidebar4;
}

.main_window .background:hover {
    cursor: default;
}

.sidebar_element:hover {
    scale: 1.1;
    color: #ffffff;
    cursor: default;
}