@charset "utf-8";

html, body, div, span, table, tr, th, td {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav {
    display: block;
}

body {
    line-height: 1;
    background-color: black;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main_window {
    margin-left: 0%;
    margin-top: 2%;
    /* margin-right: calc(50% - 43ch); */
    display: grid;
    grid-template-columns: 1fr 0.01fr;
    grid-template-rows: 1fr 0.01fr;
    /* place-items: center; */
    align-items: start;
    justify-items: center;
    grid-template-areas: "main_window empty0"
                         "empty1 corner";
}

table.skillText {
    width: 15.5em;
    border-collapse: separate;
    border-spacing: 2rem;
    margin-top: -2rem;
    margin-left: -2rem;
    vertical-align: middle;
}

table.projectsSkillText {
    border-collapse: separate;
    border-spacing: 2rem;
    margin-top: -1rem;
    margin-left: -2rem;
}

tr.skillText {
    vertical-align: middle;

}

td.skillText {
    text-align: center;
    vertical-align: middle;
    font-size: 16pt;
    color: #d4d7e2;
    font-weight: 800;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9;
    border-style: solid;
    border-color: #d4d7e2;
    border-width: 2px;
    padding: 15px;
}

td.experienceLogo {
    text-align: center;
    vertical-align: middle;
    font-size: 16pt;
    color: #d4d7e2;
    font-weight: 800;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9;
    border-style: solid;
    border-color: #d4d7e2;
    border-width: 2px;
    padding: 15px;
}

td.experienceText {
    text-align: left;
    vertical-align: top;
    font-size: 16pt;
    color: #d4d7e2;
    font-weight: 800;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9;
    border-style: none;
    padding: 15px;
}

div.console {
    text-align: left;
    font-size: 16pt;
    color: #d4d7e2;
    font-weight: 800;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9;
}

.main_window .background {
    z-index: 1;
    color: #d4d7e2; /* d4d7e2*/
    font-size: 16pt;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
    grid-area: main_window;
    cursor: default;
}

.main_window .content {
    z-index: 2;
    grid-area: main_window;
    /* margin-left: 1%; */
    margin-top: 6em;
}

.main_window .content .sidebar_grid {
    /* margin-bottom: 13%; */
    display: grid;
    /* margin-top: ; */
    grid-template-columns: 6% 20% 20% 20% 20%;
    grid-template-rows: 60% 60%;
    grid-template-areas: 
    /* "spacer2 spacer3 spacer4 spacer5 spacer6" */
    "spacer0 sidebar0 sidebar1 sidebar2 sidebar3"
    "spacer1 sidebar4 sidebar5 sidebar6 sidebar7";
    /* place-items: center; */
    align-items: start;
    justify-items: center;
}

.main_window .content .sidebar_grid .sidebar_element {
    color: #d4d7e2;
    text-align: center;
    padding-top: 0;
    font-size: 18pt;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
    cursor: default;
}

.sidebar0 {
    grid-area: sidebar0;
}

.sidebar1 {
    grid-area: sidebar1;
}

.sidebar2 {
    grid-area: sidebar2;
}

.sidebar3 {
    grid-area: sidebar3;
}

.sidebar4  {
    grid-area: sidebar4;
}

.sidebar5  {
    grid-area: sidebar5;
}

.sidebar6  {
    grid-area: sidebar6;
}

.sidebar7  {
    grid-area: sidebar7;
}

.main_window .background:hover {
    cursor: default;
}

.sidebar_element:hover {
    scale: 1.1;
    color: #ffffff;
    cursor: default;
}

.main_window .overlay {
    z-index: 3;
    grid-area: corner;
    margin-top: 5%;
}

.main_window .overlay .overlayContentGrid {
    display: grid;
    /* margin-bottom: 0%; */
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    /* place-items: center; */
    align-items: start;
    justify-items: center;
    grid-template-areas: "content";
}

.main_window .overlay .overlayContentGrid .background {
    z-index: 1;
    grid-area: content;
    color: #d4d7e2;
    font-size: 16pt;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
    grid-area: content;
    cursor: default;
}

.main_window .overlay .overlayContentGrid .overlay_text {
    z-index: 2;
    grid-area: content;
    text-align: left;
    margin-top: 6.5%;
    color: #d4d7e2;
    font-size: 16pt;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
    grid-area: content;
    background-color: transparent;
}

.main_window .overlay .overlayContentGrid .closeButton {
    z-index: 3;
    grid-area: content;
    margin-top: 1%;
    margin-left: 75%;
    color: #d4d7e2;
    font-size: 16pt;
    font-weight: 600;
    font-family: monospace;
    text-shadow: 0 0 5px #c4cde9, 0 0 10px #c4cde9, 0 0 20px #c4cde9, 0 0 30px #c4cde9;
    grid-area: content;
    background-color: transparent;
    cursor: default;

}

.closeButton:hover {
    scale: 1.1;
    /* font- */
    /* cursor: default; */
}